button {
    cursor: pointer;
}

.btn-default {
    display: flex;
    align-items: center;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #019160;
    border-radius: 4px;
    font-size: 13px;
    color: #ffffff;
    font-style: normal;
}

    .btn-default:hover {
        background-color: #2FBE8E;
    }

    .btn-default:active {
        background-color: #01B075;
    }

#btn-refresh {
    position: absolute;
    right: 24px;
    width: 40px;
    height: 40px;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    background-image: url('../../../assets/icon/refresh.png');
    background-repeat: no-repeat;
    background-position: center;
}

#btn-delete {
    position: absolute;
    right: 74px;
    width: 40px;
    height: 40px;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#btnSave {
    position: absolute;
    right: 24px;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
}
#btnCancel {
    position: absolute;
    right: 105px;
    background-color: #e5e5e5;
    color: #000000;
}
